DEBUG=True
DEVELOPMENT=True
SECRET_KEY='SECRET'
SQLALCHEMY_DATABASE_URI="postgresql://localhost/skillops"
SQLALCHEMY_TRACK_MODIFICATIONS="False"
FLASK_ENV="developement"
PORT=3000
GSHEETS_ADMIN_SHEET="googlesheetkey"
GSHEETS_SKILLSHEET_URL_PREAPPEND="https://s3.us-east-1.amazonaws.com/bucketname/"
GSHEETS_REFRESH_KEY="refreshme"
GSHEETS_AUTH64="take google auth json and base 64 it"

REACT_APP_CALLBACKURL="http://localhost:3000/login/auth"