/*CSS */

.GridView-PDF {
  height: 100%;
  width: 100%;
}
.GridView-PDFContainer {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.GridView-flex {
  display: flex;
  flex-direction: column;
}

.GridView-row.row {
  overflow-y: hidden;
  margin: 0;
  height: 100%;
  flex-wrap: nowrap;
}
